@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://cdn.datatables.net/1.13.7/css/dataTables.tailwindcss.min.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;900&display=swap');
@layer base {
    html {
        font-family: Inter, system-ui, sans-serif;
    }
}

.checkbox:disabled {
    cursor: not-allowed;
    border-color: transparent;
    --tw-bg-opacity: 1;
    background-color: transparent;
    opacity: 0.2;
}

.react-datepicker-wrapper {
    width: 100% !important;
}

.hidden {
    display: none;
}

.block {
    display: block;
}


.collapse-content-collapsed {
    display: none;
}

.collapse-content-expanded {
    display: block;
}

.custom-table .MuiTableCell-root {
    font-size: 0.875rem; /* Adjust the size as needed */
}

.custom-table .MuiSvgIcon-root {
    font-size: 1rem; /* Adjust SVG icon size if needed */
}





/*Nav styling */
/* Styles for the navigation menu background */


/* Styles for individual menu items */
.nav-item .item {
    padding: 10px 20px; /* Padding inside each menu item */
    color: white; /* Default text color */
}

/* Hover effect for menu items */
.nav-item .nav-item:hover {
    background-color: #d2d2d2 !important; /* Light black background on hover */
    color: white !important; /* White text on hover */
}

/* Styles for the selected menu item */
.menu-item-selected {
    background-color: #f5f3f3; /* bg-white */
    border-radius: 6px; /* rounded-[6px] */
}

.menu-item-selected >a {
    color: #000203 !important; /* text-[#002E54] */
    font-weight: bold;
    font-size: 14px;
}


/* Hover effect for selected menu item */
.nav-item.menu-item:hover {
    background-color: #f5f3f3 !important; /* Light black background on hover */

    border-radius: 6px; /* rounded-[6px] */
}

.nav-item.menu-item a:hover {

    color: #230000 !important; /* White text on hover */
}


/* Background color for submenu containers */
.nav-item > .nav-items {
    background-color: #002E54; /* Background color for submenu */
}

/* Alternatively, using `!important` to override other styles */
.nav-items {
    /*background-color: #002E54 !important; !* Force background color for submenu *!*/
}

/* Styles for submenu links */
.nav-item .nav-items .menu-item .item {
    padding: 8px 16px; /* Padding inside submenu items */
    color: white; /* Text color for submenu items */
}

/* Hover effect for submenu items */
.nav-item .nav-items .menu-item:not(.menu-item-selected):hover {
    background-color: #f5f3f3; /* Light black background on hover */
    color: #ffffff; /* White text on hover */
    font-weight: lighter;
}


.nav >li {
    margin-right: 5px;
}

/*ul.nav > .nav-item .menu-item :hover {*/
/*    color: yellow !important;*/
/*    background-color: #61dafb;*/
/*}*/

/*Nav styling */