iframe#webpack-dev-server-client-overlay{display:none!important}

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://cdn.datatables.net/1.13.7/css/dataTables.tailwindcss.min.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;900&display=swap');
@layer base {
    html {
        font-family: Inter, system-ui, sans-serif;
    }
}

.checkbox:disabled {
    cursor: not-allowed;
    border-color: transparent;
    --tw-bg-opacity: 1;

    background-color: transparent;
    opacity: 0.2;
}
.checkbox-primary {
    --chkbg: var(--p);
    --chkfg: var(--pc);
    --tw-border-opacity: 0.2 !important;
    border-color: hsl(var(--p) / var(--tw-border-opacity));
}
.react-datepicker-wrapper {
    width: 100% !important;
}

.hidden {
    display: none;
}

.block {
    display: block;
}


.collapse-content-collapsed {
    display: none;
}

.collapse-content-expanded {
    display: block;
}

.custom-table .MuiTableCell-root {
    font-size: 0.875rem; /* Adjust the size as needed */
}

.custom-table .MuiSvgIcon-root {
    font-size: 1rem; /* Adjust SVG icon size if needed */
}





/*Nav styling */
/* Styles for the navigation menu background */


/* Styles for individual menu items */

 .menu-item-selected{
    background-color: #f8f8f8 !important; /* Light black background on hover */

}




.menu-item-selected > a{

    color: #070202 !important; /* White text on hover */
}


.nav-item .item {
    padding: 10px 20px; /* Padding inside each menu item */
    color: white; /* Default text color */
}

/* Hover effect for menu items */
.nav-item .nav-item:hover {
    background-color: #eae5e5 !important; /* Light black background on hover */
    color: white !important; /* White text on hover */
}

/* Styles for the selected menu item */
/* Default styles for menu items */
.nav-item.menu-item a {
    color: white; /* Default text color for menu items */
    font-weight: bold;
    font-size: 12px;
    font-family: Roboto, sans-serif;
}

/* Hover effect for selected menu item */
.nav-item.menu-item:hover {
    background-color: #f5f3f3 !important; /* Light background color on hover */

}

.nav-item.menu-item:hover > a {
    color: #000203 !important; /* Change text color on hover */
}

/* Hover effect for submenu items */
.nav-item .nav-items .menu-item:not(.menu-item-selected):hover {
    background-color: #f5f3f3; /* Light background color for hovered submenu items */
    color: #000203; /* Text color for hovered submenu items */
    font-weight: lighter;
}

/* Background color for submenu containers */
.nav-item > .nav-items {
    background-color: #002E54; /* Background color for submenu */
}


.nav >li {
    margin-right: 5px;
}


.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    overflow-x: auto;
}

/* For iPad */
@media (max-width: 1024px) {
    .data-table {
        font-size: 14px; /* Adjust font size */
    }
    .data-table td {
        padding: 8px; /* Adjust padding for small screens */
    }
    .data-table th {
        padding: 10px; /* Adjust padding for small screens */
    }
    .tooltip {
        font-size: 12px; /* Smaller tooltips on mobile */
    }
    /* Optionally hide columns on smaller screens */
    .data-table .hidden-column {
        display: none;
    }
}


/*ul.nav > .nav-item .menu-item :hover {*/
/*    color: yellow !important;*/
/*    background-color: #61dafb;*/
/*}*/

/*Nav styling */

/*.rdt_TableCol:first-child,*/
/*.rdt_TableCell:first-child,*/
/*.rdt_TableCol:nth-child(1),*/
/*.rdt_TableCell:nth-child(1) {*/
/*    position: sticky;*/
/*    left: 0;*/
/*    z-index: 1;*/
/*    background: inherit;*/
/*}*/

/*.rdt_TableCol:nth-child(1),*/
/*.rdt_TableCell:nth-child(1) {*/
/*    left: 0;*/
/*}*/


